/* ---App--- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

#app {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #1d1c1c;
    color: white;
}

/* Button */
.btn-success {
    background-color: #41c485;
    border-radius: 10px;
    box-shadow: 1px 0px 39px 1px rgba(78, 184, 131, 0.74);
}

.btn-danger {
    background-color: #e2293f;
    border-radius: 10px;
    box-shadow: 1px 0px 39px 1px #e24b29;
}

.btn-warning {
    background-color: transparent;
    color: #f3b404;
    font-size: small;
    font-weight: 600;
    border-bottom: 1px solid #f3b404;
}

.btn-warning:hover {
    background-color: transparent;
    color: #f3b404;
    text-decoration: none;
    border-bottom: none;
}

/* ---Navbar--- */
.router-link-exact-active {
    background-color: none;
    font-weight: bold;
}

.badge-danger {
    font-size: x-small;
}

/* ---CardProduct--- */
.card-product {
    background: rgb(29, 28, 28);
    background: linear-gradient(0deg,
            rgba(29, 28, 28, 1) 3%,
            rgba(91, 88, 88, 1) 100%);
    color: white;
    font-size: small;
    border-radius: 30px;
}

.btn-card-cart {
    padding: 10px;
    margin: 0;
    position: relative;
    left: 90%;
    top: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 60px;
}

/* Dekstop */
.img-card-dekstop {
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 30%;
    right: 30%;
}

.btn-card {
    padding: 0;
    margin: 0;
    position: relative;
    top: 40px;
    border-bottom: 2px solid white;
}

.btn-card:hover {
    text-decoration: none;
    border-bottom: none;
}

/* Mobile */
.img-card-mobile {
    padding: 10px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.btn-card-mobile {
    border-bottom: 2px solid white;
}

.btn-card-mobile:hover {
    text-decoration: none;
    border-bottom: none;
}

/* ---Foods--- */
.costum-search-bar {
    background-color: #41c485;
    border: none;
}

/* ---Breadcrumb--- */
.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: white;
}

/* ---Footer--- */
#footer {
    font-size: small;
}